/* ====== NAVBAR ======= */

nav {
  background-color: $quaternary-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    li {  
      display: inline; 
      a {
        display: inline-block;
        padding: 1em;
        text-decoration: none;
        color: $quinary-color;
      }& :hover {
        background-color: $senary-color;
      }
    }
  }
}