/* ======= VARIABLES ====== */

$primary-color: white;
$secondary-color: #efefef;
$tertiary-color: rgb(170, 170, 170);
$quaternary-color: gold;
$quinary-color: rgb(55, 66, 5);
$senary-color: rgb(253, 237, 143);
$septinary-color: rgba(0,0,0,0.3);
$font-stack: "Futura", Helvetica, Arial, sans-serif;
$base-font-size: 1.1em;